In [1]:
#CSV
#EXCEL
#HTML
#SQL

In [2]:
import pandas as pd

In [3]:
pwd

'C:\\Users\\User'

In [8]:
pd.read_csv('example.csv')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [9]:
df=pd.read_csv('example.csv')

In [10]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [11]:
df.to_csv('my_output')

In [12]:
pd.read_csv('my_output')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [13]:
df.to_csv('my_output',index=False)

In [14]:
pd.read_csv('my_output')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [23]:
pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [34]:
df=pd.read_csv('banklist.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa0 in position 9: invalid start byte

In [36]:
data = pd.read_csv('banklist.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa0 in position 9: invalid start byte

In [37]:
pd.read_csv('banklist.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa0 in position 9: invalid start byte

In [39]:
from sqlalchemy import create_engine

In [40]:
engine= create_engine('sqlite:///:memory:')

In [42]:
df.to_sql('my_table',engine)

4

In [43]:
sqldf=pd.read_sql('my_table',con=engine)

In [44]:
sqldf

   index   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15