In [4]:
fruits= ['apple','banana','mango']

In [6]:
for x in fruits: ##Exit the loop when x is "banana", but this time the break comes before the print:
    print(x)
    if x=='banana':
        break
    print(x)

apple
apple
banana

In [24]:
for x in fruits: #Exit the loop when x is "banana":



    print(x)
    if x=='banana':
        break

apple
banana

In [19]:
for x in fruits: #print all fruits
    
    print(x)

apple
banana
mango

In [20]:
for x in fruits: #do not print banana
    if x=='banana':
        continue
    print(x)

apple
mango

In [33]:
for x in range(2,30,10): 
    print(x)
    #The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter

2
12
22

In [37]:
for x in range(6):
    if x==3: break
    print(x)
else:
        print('finally finished')

0
1
2

In [38]:
for x in [0,1,2]:
    pass

In [6]:
for x in range(1,11,3):
    print(x)

1
4
7
10

In [8]:
credit_card="987-560-7295"
for x in credit_card:
    print(x)

9
8
7
-
5
6
0
-
7
2
9
5

In [9]:
for x in range(1,31):
    if x==12:
        continue
    else:
        print(x)

1
2
3
4
5
6
7
8
9
10
11
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [10]:
for x in range(1,31):
    if x==12:
        break
    else:
        print(x)

1
2
3
4
5
6
7
8
9
10
11

#### while loop